/* RAZ */
html {
	margin-top: 0 !important;
}
body.page-template-mosaique-php .tc, 
body.page-template-mosaique-php #header, 
body.page-template-mosaique-php #mainNav,
body.page-template-mosaique-php #langue
{
	display: none;
}

body.page-template-mosaique-php {
	background-color: #333;
	margin: 0px;
	padding-top: 60px;
}

body.page-template-mosaique-php #wraper {
	margin: 0px auto 0px auto;
	background-color: transparent;
}

body.page-template-mosaique-php #mosaicBar
{
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 40px;
	background-color: #000;
	
}
body.page-template-mosaique-php #mosaicBar a.fermer {
	display: block;
	float: right;
	width: auto;
	padding: 10px 20px 0px 0px;
	text-decoration: none;
	color: #3A9CC5;
}
body.page-template-mosaique-php #mosaicBar a.fermer:hover
{
	color: white;
}
body.page-template-mosaique-php h1
{
	padding: 10px 0px 0px 20px;
}
body.page-template-mosaique-php h1 a {

	text-decoration: none;
	color: #3A9CC5;
}
body.page-template-mosaique-php h1 a:hover
{
	color: white;
}


body.page-template-mosaique-php #wraper
{
	width: auto;
	padding: 2em 3em 2em 5em;
}

body.page-template-mosaique-php #content {
padding: 0px;
overflow: hidden;
background: transparent;
border-left: none;
border-right: none;
}

body.page-template-mosaique-php #content .post {
	display: inline-block;
	width: 400px;
	height: 350px;
	vertical-align: top;
	margin-right: 2em;
	margin-bottom: 2em;
	overflow: hidden;
	padding: 0;
}
body.page-template-mosaique-php #content .postmetadata {
	margin: 0 auto;
	width: 89%;
	background: transparent;
	color: #aaa;
	font-size: 13px;
	line-height: 19px;
	margin-bottom: 0px;
	padding: 5px 0px;
}
.post .postmetadata a.videoTitle
{
	font-size: 1.2em;
	line-height: 1.2em;
	text-decoration: none;
}

body.page-template-mosaique-php .videoNavigation {
	color: #aaa;
	font-size: 13px;
	font-weight: normal;
	line-height: 18px;
	overflow: hidden;
	margin-bottom: 20px;
	width: auto;
	text-align: right;
}
body.page-template-mosaique-php .wp-pagenavi
{
	float: right;
	width: auto;
	margin: 0px 20px 0px 8px;
}